@model PC.Models.SinglePlayerViewModel

<body style="overflow: hidden; display: flex; flex-direction: column; position: relative; height: 100%;">
        <header class="menu">
            <button onclick="openNav()" style=" z-index:800; background-color: transparent;  border-color: transparent; margin-left:2%; top:50%; cursor: pointer;outline: none;">
                <a class="materialcolor">
                    <i class="material-icons" id="btbt">
                        menu
                    </i>
                </a>
            </button>
            <div style="position: absolute; top:50%; left: 50%; transform: translate(-50%,-50%);">
                <h1 class="headtext">Single Player</h1>
            </div>
        </header>

        <div class="scorecontainer">
            <h1 class="score" id="scoreCounter">@Model.Score</h1>
        </div>

        <div class="clickablezone" id="clickApple">
            <button style="width: 100%; height: 100%; background: transparent; border: none; outline: none;">
            <img id="ApplePic" src='~/Assets/Apple.png' />
            </button>
        </div>

        <footer style="width: 100%; bottom: 0;">
            <table class="mdl-data-table mdl-js-data-table  mdl-shadow--2dp" style="width: 100%;font-family: 'Montserrat', sans-serif;">
                <thead style="text-align: center;">
                  <tr>
                    <th class="mdl-data-table__cell--non-numeric" style="width: 30%; text-align: center; color:#569981;">Booster</th>
                    <th style="width: 30%;  text-align: center; color: #569981;">Quantity</th>
                    <th style="width: 30%;  text-align: center; color: #569981;">Price</th>
                  </tr>
                </thead>
                <tbody>
                  <tr id="EvaElement">
                    <td class="mdl-data-table__cell--non-numeric" style="width: 30%;  text-align: center;">Eva</td>
                    <td style="width: 30%;  text-align: center;" id="EvaElementCounter">@Model.EvaCount</td>
                    <td style="width: 30%;  text-align: center;" id="EvaCostElement">@Model.EvaCost</td>
                  </tr>
                  <tr id="NewtonElement">
                    <td class="mdl-data-table__cell--non-numeric" style="width: 30%;  text-align: center;">Newton</td>
                    <td style="width: 30%;  text-align: center;" id="NewtonElementCounter">@Model.NewtonCount</td>
                    <td style="width: 30%;  text-align: center;" id="NewtonCostElement">@Model.NewtonCost</td>
                  </tr>
                  <tr id="JobsElement">
                    <td class="mdl-data-table__cell--non-numeric" style="width: 30%;  text-align: center;">Jobs</td>
                    <td style="width: 30%;  text-align: center;" id="JobsElementCounter">@Model.JobsCount</td>
                    <td style="width: 30%;  text-align: center;" id="JobsCostElement">@Model.JobsCost</td>
                  </tr>
                </tbody>
              </table>
        </footer>
    </body>
